	<div class="container-fluid">

		<div class="row no-gutters">
			<div class="col-md-3">
			</div>
			<div class="col-md-6 center" style="background-color:#BEBAE6;">
				<h1>Chilli Con Carne Recipe</h1>
			</div>
			    <div class="col-md-3">
			</div>
		</div>
		
		<div class="row no-gutters" >
			<div class="col-md-3">
			</div>
			
			<div class="col-md-6 center lilac" >
				<div class="picture-panel">
					<%= image_tag(@image, :width => "50%") %>
					<%#<img src = "Chilli Con Carne.jpg" style="display: block;margin: auto;" alt="Chilli" > %>
					
				</div>
			</div>
			
			<div class="col-md-3">
			</div> 
		</div> <!-- class="row"></!-->

		<div class="row no-gutters" >
			<div class="col-md-3">
	 		</div>
	 		
     		<div class="col-sm-6 col-md-3 lilac" >
        		<table class="table table-hover table-color">
          			<thead>
               			<tr>
                  			<th><h3>Ingredients</h3></th>
               			</tr>
          			</thead>
          
		            <tr class="table-cellcolor">
		               <td>Mince</td>
		            </tr>
		            <tr class="table-cellcolor">
		                <td>Onions</td>
		            </tr>
		            <tr class="table-cellcolor">
		                <td>Sprinkling of Garlic powder</td>
		            </tr>
		            <tr class="table-cellcolor">
		                <td>Sprinkling of Paprika</td>
		            </tr>
		            <tr class="table-cellcolor">
		                <td>Glass of Red Wine</td>
		            </tr>
		            <tr class="table-cellcolor">
		                <td>1 Beef Stock Cube</td>
		            </tr>
		            <tr class="table-cellcolor">
		                <td>2 dsp of Tomato Puree</td>
		            </tr>
		            <tr class="table-cellcolor">
		                <td>Tin of Tomatoes</td>
		            </tr>
		            <tr class="table-cellcolor">
		                <td>Kidney Beans</td>
		            </tr>
		            <tr class="table-cellcolor">
		                <td>Beef Gravy Granules to thicken</td>
		            </tr>
       			</table>
    		</div>

			<div class="col-sm-6 col-md-3 lilac" >
				<div class="panel instructions-panel" >
				  <h3>Cooking Instructions</h3>
				  <p>(Preparation and cooking time - 30 minutes)</p>
				  <ol>
				  <li> Heat mince and diced onion in a pan until cooked. Drain off excess fat.
				  <li> Add wine and sprinkle in garlic and paprika granules. Simmer for a couple of minutes.
				  <li> Add tinned tomatoes, a couple of dessert spoons of tomato puree and mix in. Crumble in a beef stock cube.
				  <li> Add kidney beans and simmer a little.
				  <li> Add a little beef gravy to thicken and simmer further while cooking the rice.
				  </ol>
				</div>
			</div>

			<div class="col-md-3">
			</div>
		</div>
	</div> <!-- class="container-fluid"></!-->
