
<div class="container-fluid">
	<div class="row no-gutters">
		<div class="col-md-3">
		</div>
		<div class="col-md-6 center" style="background-color:#BEBAE6;">
			<h1>Cottage Pie Recipe</h1>
		</div>
	    <div class="col-md-3">
		</div>
	</div>
	
	<div class="row no-gutters">
	  <div class="col-md-3">
		</div>
		<div class="col-md-6 center lilac" >
  		<div class="picture-panel">
  				<%= image_tag(@image, :width => "50%") %>
  			<%#<img src = "Chilli Con Carne.jpg" style="display: block;margin: auto;" alt="Chilli" > %>
			</div>
		</div>
		<div class="col-md-3">
		</div>
	</div>
	
	<div class="row no-gutters" >
		<div class="col-md-3">
	  </div>
	  
  	<div class="col-sm-6 col-md-3 lilac" >
        <table class="table table-hover table-color">
          <thead>
               <tr>
                  <th><h3>Ingredients</h3></th>
               </tr>
          </thead>
          
            <tr class="table-cellcolor">
               <td>Mince</td>
            </tr>
            <tr class="table-cellcolor">
                <td>Onions</td>
            </tr>
            <tr class="table-cellcolor">
                <td>Sprinkling of Garlic powder</td>
            </tr>
            <tr class="table-cellcolor">
                <td>Glass of Red Wine</td>
            </tr>
            <tr class="table-cellcolor">
                <td>2 dsp of Tomato Puree</td>
            </tr>
            <tr class="table-cellcolor">
                <td>Worcestershire  Sauce</td>
            </tr>
            <tr class="table-cellcolor">
                <td>Sprinkling of Thyme</td>
            </tr>
            <tr class="table-cellcolor">
                <td>2 Bay Leaves</td>
            </tr>
            <tr class="table-cellcolor">
                <td>Salt & Pepper to taste</td>
            </tr>
            <tr class="table-cellcolor">
                <td>Beef Stock Cube</td>
            </tr>
            <tr class="table-cellcolor">
                <td>Beef Gravy Granules</td>
            </tr>
       </table>
    </div>
  
    <div class="col-sm-6 col-md-3 lilac" >
		  <div class="panel instructions-panel" >
			  <h3>Cooking Instructions</h3>
			  <p>(Preparation and cooking time - 1 hour)</p>
			  <ol>
			    <li> Peel and cook potatoes.
			    <li> Heat the mince and onions in a pan until cooked. Drain off excess fat.
			    <li> Add in wine. Sprinkle in garlic and thyme. Mix in 2 dessert spoonfuls of tomato puree
			         add 2 bay leaves. Crumble in beef stock cube and add worcestershire sauce
			         and salt and pepper to taste.
			    <li> Leave to simmer while the potatoes are cooking. Then add beef gravy made from gravy
			         granules to thicken. Simmer further to boil off excess liquid.
			    <li> When the write consistency pour into a casserole dish.
			    <li> Mash the potato. Add salt and pepper and a little milk to smooth, then
			         place on top of the mince in the casserole dish, smoothing out 
			         with a fork.
			    <li> Place the casserole dish into the oven at 200 degrees C for 20 - 25 minutes, until
			         the potato starts to brown and crispen up.
			  </ol>
		  </div>
    </div>
    
    <div class="col-md-3">
		</div>
	</div>